<section class="columns">
    <article>
        <p>
            I am building language models at <a href="https://reflection.ai/">Reflection</a>.
        </p>
        </article>
        <p>
            I got my doctorate from <a href="https://whirl.cs.ox.ac.uk/">Whiteson Research Lab</a> at University of Oxford where I focused on Meta-Reinforcement Learning (Meta-RL) and imitation learning.
            I'm excited about developing AI into a practical technology and I believe pushing these directions will help us get there.
        </p>
    </article>
    <article>
        <p>
            Before joining WhiRL, I worked with Satinder Singh at the University of Michigan on meta-gradient reinforcement learning.
            And before that, I worked at SK-Telecom AI Research Lab in Seoul.
            I got my Master's in Computer Science at Aalto University, Finland.
            More recently, I interned at Qualcomm Research Amsterdam supervised by Taco Cohen and others last year.
        </p>
    </article>
</section>
