<section class="columns">
    <article>
        <p>
            I am a dphil student at <a href="https://whirl.cs.ox.ac.uk/">Whiteson Research Lab</a> at University of Oxford.
            My research is focused on Meta-Reinforcement Learning (Meta-RL) and imitation learning.
            I'm excited about developing AI into a practical technology and I believe pushing these directions will help us get there.
        </p>
    </article>
    <article>
        <p>
            Before joining WhiRL, I worked with Satinder Singh at the University of Michigan on meta-gradient reinforcement learning.
            And before that, I worked at SK-Telecom AI Research Lab in Seoul.
            I got my Master's in Computer Science at Aalto University, Finland.
            More recently, I interned at Qualcomm Research Amsterdam supervised by Taco Cohen and others last year.
        </p>
    </article>
    <article>
        <p>
            Jake Beck and I were recently featured on <a href="https://podcasts.apple.com/us/podcast/jacob-beck-and-risto-vuorio/id1478198107?i=1000603168625">TalkRL Podcast</a> discussing meta-RL and our recent <a href="https://arxiv.org/abs/2301.08028">survey paper</a> on it.
            If you are interested in the subject consider checking out our <a href="https://sites.google.com/view/meta-rl-tutorial-2023/home">tutorial on meta-RL</a> at <a href="https://aaai.org/aaai-conference/">AAAI 2024</a> in Vancouver.
        </p>
    </article>
</section>