<section class="columns">
<h1>Education</h1>
<article>
    <header>
        <h1>Dphil Computer Science</h1>
        <span>University of Oxford</span>
        <span><address>Oxford</address><time>2024 (Expected)</time></span>
    </header>
    <p>Fully funded via Scatcherd European Scholarship in conjunction with Engineering and Physical Sciences Research Council Studentship.</p>
</article>
<article>
    <header>
        <h1>M.Sc. Computer Science (with distinction)</h1>
        <span>Aalto University</span>
        <span><address>Helsinki, Finland</address><time>2016</time></span>
    </header>
    <p>
        Minor: Mathematics
    </p>
    <p><em>Thesis: Stream Processing on a Multi-core DSP with Open Event Machine</em></p>
</article>
<article>
    <header>
        <h1>B.Sc. Industrial Engineering and Management</h1>
        <span>Aalto University</span>
        <span><address>Helsinki, Finland</address><time>2014</time></span>
    </header>
    <p>
        Minor: software technology
    </p>
</article>
</section>