<section class="columns">
<h1>Presentations and appearances</h1>
<article>
    <header>
        <h1>Meta-RL Tutorial AAAI 2024</h1>
    </header>
    <span>
        <p>Presenters: Jacob Beck, Risto Vuorio</p>
        <p>Authors: Jacob Beck (equal contribution), Risto Vuorio (equal contribution), Evan Zheran Liu, Zheng Xiong, Luisa Zintgraf, Chelsea Finn, and Shimon Whiteson. <a href="https://sites.google.com/view/meta-rl-tutorial-aaai-2024">Tutorial homepage</a></p>
    </span>
</article>
<article>
    <header>
        <h1>Meta-RL Tutorial AutoML 2023</h1>
    </header>
    <span>
        <p>Presenters: Jacob Beck, Risto Vuorio</p>
        <p>Authors: Jacob Beck (equal contribution), Risto Vuorio (equal contribution), Evan Zheran Liu, Zheng Xiong, Luisa Zintgraf, Chelsea Finn, and Shimon Whiteson. <a href="https://2023.automl.cc/program/tutorials/meta-reinforcement/">Tutorial homepage</a></p>
    </span>
</article>
<article>
    <header>
        <h1>TalkRL Podcast</h1>
    </header>
    <span>
        <p>Featured as a guest with Jake Beck on <a href="https://podcasts.apple.com/us/podcast/jacob-beck-and-risto-vuorio/id1478198107?i=1000603168625">TalkRL Podcast</a>.</p>
    </span>
</article>
</section>
