<section class="columns">
    <h1>Service and Activities</h1>
    <article>
        <header>
            <h1>Junior Organizer: </h1>
                {% for junior_organizer in site.data.junior_organizer %}
                    <p>{{ junior_organizer.venue }}.</p>
                {% endfor %}
            <h1>Program Committee / Reviewer: </h1>
                {% for reviewer_venue in site.data.reviewer_venues %}
                <p>{{ reviewer_venue.venue }}.</p>
                {% endfor %}
            <h1>Board member: </h1>
                <p>TK Ventures 2022, 2023, 2024.</p>
        </header>
    </article>
</section>