<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="{{ site.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/layout.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{{ site.baseurl }}/static/img/favicon.ico">
</head>


<body>

<div class="container">
    <section class="header">
        <h2>{{ site.title }}</h2>
        <img src="{{ site.baseurl }}/static/img/profile.jpg" class="me">
        <p>
        <a href="{{ site.email_full }}">
            <i class="fa fa-envelope-o"></i>
            Email
        </a>
        <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-github"></i>
            Github
        </a>
    </section>
        {{ content }}
</div>

</body>
</html>
